@{
    ViewData["Title"] = "Date Info";
}
@model TimeValidator;
<div class="text-center">
    <h1 class="display-4">Date Entered</h1>
    <h3>Date: @Model.FormDate</h3>
    <button type="submit"><a href="/">Go Back</a></button>
</div>