<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human</title>
</head>
<body>
    <h1>Welcome to the Human side of Life</h1>
    <h2>Lets Add a humna</h2>
    <form action="createHuman" method="post">
        <section>
            <label for="Age">Age</label>
            <input type="number" name="Age" id="">
        </section>
        <section>
            <input type="hidden" name="Type" id="" value="Human">
            <input type="hidden" name="Food" id="" value="Omnivore">
        </section>
        <section>
            <label for="Name">Name</label>
            <input type="text" name="Name" id="">
        </section>
        <section>
            <label for="Height">Height</label>
            <input type="number" name="Height" id="">
        </section>
        <button>Submit</button>
    </form>
</body>
</html>