@{
    ViewData["Title"] = "Owner";
}
@model Owner
<form action="owner" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Name"></span>
    <button>Add</button>
</form>