<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <hr>
            <a href="/projects">Projects</a>
            <hr>
            <a href="/contact">Contact</a>
        </nav>
        <h1>Projects</h1>
    </header>
    <main class="projects">
        <div>
            <img src="~/img/temp.PNG" alt="temp">
            <span><h3>Project 1</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea repellendus ad, blanditiis iusto aliquid sint omnis ullam molestiae natus facilis officiis necessitatibus odit voluptate magnam dolores unde explicabo harum?
                </p>
            </span>
        </div>
        <div>
            <img src="~/img/temp.PNG" alt="temp">
            <span><h3>Project 2</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea repellendus ad, blanditiis iusto aliquid sint omnis ullam molestiae natus facilis officiis necessitatibus odit voluptate magnam dolores unde explicabo harum?
                </p>
            </span>
        </div>
        <div>
            <img src="~/img/temp.PNG" alt="temp">
            <span><h3>Project 3</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea repellendus ad, blanditiis iusto aliquid sint omnis ullam molestiae natus facilis officiis necessitatibus odit voluptate magnam dolores unde explicabo harum?
                </p>
            </span>
        </div>
    </main>
</body>
</html>