@* @model List<User> *@
<section>
    <select name="Owner" id="">
        @* @foreach(User u in Model) {
            <option value="@u.UserId">@u.FullName()</option>
        } *@
    </select>
</section>