@model Zoo

<section>
    <label for="Name">Title</label>
    <input type="text" name="Name" id="">
    <span asp-validation-for="Name"></span>
</section>
<section>
    <label for="Location">Location</label>
    <input type="text" name="Location" id="">
    <span asp-validation-for="Location"></span>
</section>