@{
    ViewData["Title"] = "Home Page";
}
@* @model Zoo *@
@model MyViewModel
<h1>Add a new Zoo</h1>
<form action="/zoo/createZoo" method="post">
    @await Html.PartialAsync("_Zoo", Model.Zoo)
    @await Html.PartialAsync("_Users", Model.AllUsers)
    <button>Add Post</button>
</form>