@{
    ViewData["Title"] = "Hogwarts";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hogwarts</h1>
    <p>Please head over to our Register page and sign up <a href="/register">Register Here</a></p>
</div>
