@{
    ViewData["Title"] = "The Student";
}
@model Hogwart;

<div class="text-center">
    <h1 class="display-4">Welcome to Hogwarts</h1>
    <h3>@Model.Name</h3>
    <h3>@Model.House</h3>
    <h3>@Model.Year</h3>
</div>
