@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/orderedDogs">Ordered by</a>
    <textarea name="" id="" cols="30" rows="10">@ViewBag.theDog</textarea>
    <p>@ViewBag.theDog</p>
</div>
