.container {
    width: 40%;
}
.user-container {
    border: 5px solid black;
    margin: 20px 20px;
}
.user {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.para {
    width: 50%;
    margin: 0 auto;
}