@{
    ViewData["Title"] = "Rubber Ducks";
}

<div class="text-center">
    <h1 class="display-4">Rubber Ducky, you're the one.</h1>
    <p>Lets get to adding new Ducks to our pond <a href="/rubber_Duck/add">Add Duck</a></p>
</div>