<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio II</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <hr>
            <a href="/projects">Projects</a>
            <hr>
            <a href="/contact">Contact</a>
        </nav>
        <h1>About Me</h1>
    </header>
    <main class="home">
        <div>
            <img src="~/img/temp.PNG" alt="temp">
            <p>Bobothy Jones
                <br>
                I love to code!
            </p>
        </div>
        <p>
            Booty weigh anchor crimp broadside sheet square-rigged furl scuppers nipper long clothes. Nipper main sheet port parley Yellow Jack draught plunder holystone lass line. Sea Legs lee rutters blow the man down walk the plank yawl Sail ho fire ship weigh anchor galleon.
            <br>
            Hang the jib bilge water clap of thunder spike Cat o'nine tails Privateer rigging grog blossom deadlights bring a spring upon her cable. Overhaul scuttle black spot blow the man down reef sails mizzen matey belay poop deck hogshead. Scuppers mizzen list tender run a rig hang the jib aft Nelsons folly execution dock spyglass.
        </p>
    </main>
</body>
</html>