<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Index for Basic Web App</title>
</head>
<body>
    <header>
        <h1>Welcome to our Index</h1>
    </header>
    <main>
        @* <img src="../../wwwroot/images/bee.png" alt=""> *@
        <img src="~/images/bee.png" alt="Bee">
        <img src="~/images/beehive.jpeg" alt="">
    </main>
</body>
</html>