.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 300px;
}
.box {
  border: 2px groove #96858f;
  background-color: #d0dcb2;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
}
