<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Hi there @ViewBag.Name</h1>
    <form action="form" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" id="">
        <button>Submit</button>
    </form>

    <h3>@ViewBag.get</h3>
    <h3>@ViewBag.post</h3>
</body>
</html>