<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @{
    ViewData["Title"] = "Home Page";
    }
    @model User
    <header>
        <h1>Here is a User!</h1>
    </header>
    <div>
        <h2 class="name" >@Model.FirstName @Model.LastName<h2></h2>
    </div>
</body>
</html>