<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <main>
        <form action="result" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="location">Dojo Location:</label>
                <select name="location" id="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Norfolk">Norfolk</option>
                </select>
            </div>
            <div>
                <label for="language">Dojo Location:</label>
                <select name="language" id="language">
                    <option value="C#">C#</option>
                    <option value="JS">JS</option>
                </select>
            </div>
            <div class="comment">
                <label for="comment">Comment:</label>
                <textarea name="comment" id="comment" cols="20" rows="5"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>