<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squishy Views App</title>
</head>
<body>
    <header>
        <h1>Squishy Views App</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/squishy">Squishy</a>
        </nav>
    </header>
    <main>
        @{
            var StringList = new List<string>
            {
                "one",
                "two",
                "three",
                "four"
            };
                
            foreach(var word in StringList)
            {
                // We can render HTML from within C# code!
                <p>@word</p>
            }
        }
    </main>
</body>
</html>