@{
    ViewData["Title"] = "Home Page";
}
@model List<Movie>
    <h1>Welcome to our Favorite Movies List</h1>
    <h2>Feel free to click on one to learn more</h2>
    <div class="row">
        @foreach(Movie m in Model) {
        <div class="column">
            <h3>@m.Title</h3>
            <p>Rating: @m.Rating / 10</p>
            <a href="/movie/@m.MovieId/view">View</a>
            <a href="/movie/@m.MovieId/edit">Edit</a>
            @* <form action="/movie/@m.MovieId/delete" method="post">
                <button>Delete</button>
            </form> *@
            <a href="/movie/@m.MovieId/delete">Delete</a>
            @* If you use a form the controller should be a httppost if you want to use a anchor tag like above then change it to a httpget *@
        </div>
    }
    </div>