@model Dish
<div class="text-center">
    <div class="text-center">
    <h1 class="display-4">Add a Dish!</h1>

       <section>
            <label asp-for="Name">Name of Dish</label>    
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </section>
        <section>
            <label asp-for="Tastiness"></label> 
            <span asp-validation-for="Tastiness"></span>
            <select asp-for="Tastiness" name="Tastiness" id="">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </section>
        <section>
            <label asp-for="Calories"># of Calories</label>    
            <input type="number" asp-for="Calories">
            <span asp-validation-for="Calories"></span>
        </section>


</div>
</div>