@model List<Chef>

            <section>
            <label></label>
            <span></span>
            <select  id="">
@foreach (Chef item in Model)
{
 
        <option >@item.FirstName @item.LastName</option>
    
}
            </select>
        </section>
