@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hogwarts!</h1>
    <p>Please head over to the <a href="/register">Register</a> page and sign up</p>
</div>
