@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <form action="/register" method="post">
        <label>Your Name:</label>
        <input type="text" name="name">
        <label>House:</label>
        <select name="house">
            <option value="Gryffindor">Gryffindor</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Slytherin">Slytherin</option>
            <option value="Hufflepuff">Hufflepuff</option>
        </select>
        <label>Year:</label>
        <input type="number" name="year">
        <button type="submit">Submit</button>
    </form>
</div>