@{
    ViewData["Title"] = "The Student";
}
@model HogwartsStudent;

<div class="text-center">
    <h1>Welcome to your time at Hogwarts</h1>
    <h3>@Model.Name</h3>
    <h3>@Model.House</h3>
    <h3>@Model.CurrentYear</h3>
</div>