<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @model User
    <h1>@Model.Username</h1>
    <h2>@Model.Email</h2>
    <h3>@Model.FavFood</h3>
</body>
</html>