@{
    ViewData["Title"] = "View Dishes";
}
@model List<Dish>

<div class="text-center">
    <h1>Check out our roster of chefs!</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Dish d in Model){
                <tr>
                    <th>@d.Name</th>
                    <td>@d.Creator.FullName()</td>
                    <td>@d.Tastiness</td>
                    <td>@d.Calories</td>
                </tr>
            }
        </tbody>
    </table>
</div>