@{
    ViewData["Title"] = "Form";
}

@model Form
<form class="text-center" action="/create" method="post">
    <span asp-validation-for="Name"></span>
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name">
    </div>
    <span asp-validation-for="Location"></span>
    <div>
        <label asp-for="Location">Dojo Location:</label>
        <select asp-for="Location" id="">
            <option value="none" selected disabled hidden>-- select an option --</option>
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Dallas">Dallas</option>
        </select>
    </div>
    <span asp-validation-for="Language"></span>
    <div>
        <label asp-for="Language">Favorite Language:</label>
        <select asp-for="Language" id="">
            <option value="none" selected disabled hidden>-- select an option --</option>
            <option value="C#">C#</option>
            <option value="JS">JS</option>
            <option value="HTML">HTML</option>
        </select>
    </div>
    <span asp-validation-for="Comment"></span>
    <div>
        <label asp-for="Comment">Comment:</label>
        <textarea asp-for="Comment" id="" cols="23" rows="3"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>