<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
  <main>
    <header>
        <h1>Submitted Info</h1>
    </header>
    <h3>Your name: <span class="span">@ViewBag.name</span></h3>
    <h3>Dojo Location: <span class="span1">@ViewBag.location</span></h3>
    <h3>Favorite Language: <span class="span2">@ViewBag.language</span></h3>
    <h3>Comment: <span class="span3">@ViewBag.comment</span></h3>
    <button type="submit"><a href="/">Go Back</a></button>
  </main>
</body>
</html>