.rowPreset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.columnPreset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
main {
  width: 80%;
  margin: 20px;
  border: 2px solid black;
}
main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
main form div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
main form div label {
  padding: 10px;
}
main form button {
  margin: 20px 0;
}
main h1 {
  margin: 10px;
}
main #results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
main #results div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
main #results div h2 {
  margin: 5px 0;
}
main #results div h3 {
  max-width: 60%;
  margin: 5px 0;
}
main #results button {
  margin: 20px;
}
main #results a {
  text-decoration: none;
  color: black;
}
