<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <hr>
            <a href="/projects">Projects</a>
            <hr>
            <a href="/contact">Contact</a>
        </nav>
        <h1>Contact</h1>
    </header>
    <main class="contact">
        <form action="#">
            <div>
                <label for="name">Name</label>
                <input type="text">                
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text">
            </div>
            <div>
                <label for="message">Message</label>
                <textarea name="message" cols="20" rows="5"></textarea>
            </div>
        </form>
        <button>Submit</button>
    </main>
</body>
</html>