*{
    border: 2px dotted mediumspringgreen;
}
body{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #10093b;
    color: aliceblue;
}
header{
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
    background-color: #a92a2a;
}
header h1{
    margin-left: 15px;
}
main{
    margin-top: 10px;;
    display: flex;
    flex-direction: row;
}
.toc{
    height: fit-content;
    padding: 15px;
    background-color: #316d6d;
    border-radius: 15px;
}
div.text{
    margin-left: 15px;
    border-radius: 15px;
    padding: 15px;
    background-color: #21213e;
}

footer{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    border-radius: 15px;
    padding: 0 15px;
    background-color: gray;
}
span{
    color: #7030d1;
}
a{
    color:aqua;
}
