@{
    ViewData["Title"] = "Home Page";
}
@model List<Wedding>

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4">Welcome @Context.Session.GetString("FirstName")</h1>
    <nav>
        <a href="/Dashboard">Home</a> | 
        <a href="/wedding/add">Plan a Wedding</a> | 
        <a href="/logout">Logout</a>
    </nav>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Wedding of</th>
            <th scope="col">Date</th>
            <th scope="col">Guest Count</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Wedding w in Model){
            <tr>
                <th>@w.WeddingOf()</th>
                <td>@w.Date.ToString("MMMM dd, yyyy")</td>
                <td>@w.RSVPs.Count</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
