<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Projects</a>
    <h2>Contact Me!</h2>
    <div class="row">
        <form action="">
            <div class="column">
                <div class="form">
                    <label for="Name">Name:</label>
                    <input type="text" name="Name">
                </div>
                <div class="form">
                    <label for="Email">Email:</label>
                    <input type="text" name="Email">
                </div>
            </div>
            <div class="column">
                <div class="form">
                    <label for="Message">Message:</label>
                    <input type="text" name="Message">
                </div>
                <div class="form">
                    <input type="submit" value="Send">
                </div>
            </div>
        </form>
</div>
    
</body>
</html>