@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/regUser">Register a User to Session</a>
    <a href="/dashboard">Dashboard</a>
</div>
