<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owners and Pets</title>
</head>
<body>
    <header>
        <h1>New Pet Page</h1>
        <nav>
            <a href="">Home - Owner</a>
            <a href="newOwner">New Owner</a>
            <a href="oneOwner">One Owner</a>
            <a href="viewOwner">View Owner</a>
            <a href="wrongOwner">Wrong Owner</a>
            <a href="pet">Pet</a>
            <a href="newPet">New Pet</a>
            <a href="onePet">One Pet</a>
            <a href="viewPet">View Pet</a>
            <a href="wrongPet">WrongPet</a>
        </nav>
    </header>
    <main>
        <h2>Pet Name: @ViewBag.PetName</h2>
    </main>
    <footer>
        <p>Web App</p>
    </footer>
</body>
</html>