@{
    ViewData["Title"] = "Home Page";
}
@model string

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="orderBy">Order By</a>
    <textarea cols="30" rows="6">@ViewBag.theDog</textarea>
</div>
