@model List<Dish>
<div class="main">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <nav>
        <a href="/">Home</a><span> | </span><a href="/create">Add A Dish</a>
    </nav>
    <h4>Check out some recent dishes</h4>
    @foreach(Dish d in Model)
{
    <div class="text">
        <h5><a href="/dish/@d.DishId">@d.Name</a> @d.Chef </h5>
    </div>
}   
</div>

