.rowPreset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.columnPreset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main {
  width: 50%;
  margin: 20px;
  border: 2px solid black;
}
body main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
body main form div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
body main form div label {
  padding: 5px 10px;
}
body main form button {
  margin: 20px 0;
}
body main h2 {
  text-decoration: underline;
  padding: 0 10px;
}
body main div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 40px;
  justify-content: space-between;
}
body main div h3 {
  margin: 5px 0;
}
