@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Context.Session.GetString("FirstName")</h1>
    <br>
    <a href="allToons">All Toons</a>
    <br>
    <a href="allSquishies">All Squishies</a>
</div>
