@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <a href="allToons">All Toons</a>
    <a href="addToon">Add Toon</a>
    <br>
    <a href="allSquishies">All Squishies</a>
    <a href="addSquishy">Add Squishy</a>
</div>
