/* * {
    border: 1px red dotted;
} */
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    width: 95%;
}
header {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: lightblue;
    color: white;
    width: 100%;
    justify-content: space-between;
}
h1 {
    margin: 1em 2em;
}
nav {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin: 0 1em;
}
nav a {
    color: white;
    margin: 1em 2em;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
main .row .column {
    background-color: #e3e0e0;
    padding: 1em;
}
main .row .column img {
    border-radius: 50%;
}
.midHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mid {
    width: 100%;
    justify-content: space-between;
}
.temp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
hr {
    height: 2px;
    width: 100%;
    background-color: black;
}
footer {
    border: 3px black solid;
    width: 90%;
    background-color: #e3e0e0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: .5em;
}
footer .column {
    align-items: flex-start;
}
button {
    background-color: lightblue;
    box-shadow: 3px 3px black;
    font-size: 1.2em;
    padding: 1em;
}