
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @{
    ViewData["Title"] = "Home Page";
}
@model string;
<header>
    <h1 class="message">@Model</h1>
</header>
<div>
    <p class="para">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil ex maiores quibusdam, atque corporis cumque, modi rerum eos maxime, aut quae a? Earum iusto expedita minima est quidem consequuntur odit rem itaque quia maxime velit quasi tempore beatae dolorem nihil deleniti, numquam ex doloribus adipisci voluptates. Iste facere voluptatibus porro!
    </p>
</div>
</body>
</html>



