@{
    ViewData["Title"] = "Home Page";
}
@model string;

<div class="text-center">
    <h1>@Model</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut quibusdam voluptate reprehenderit rerum recusandae vero illo minus itaque provident officia magni eveniet accusamus, dolorum dolore libero asperiores maiores dignissimos. 
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum saepe facilis temporibus dicta aut quae, animi id iusto placeat aperiam ut porro voluptatibus, voluptas ullam consequuntur nostrum asperiores alias vero.
    </p>
</div>
