.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 150px;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .img img {
  max-width: 200px;
}
body .bubbles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  flex-wrap: wrap;
}
body .bubbles img {
  margin: 1em;
}
