@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
    @await Html.PartialAsync("_Register")
    @await Html.PartialAsync("_login")
</div>
</div>
