@font-face {
  font-family: 'Bungee Spice';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bungeespice/v8/nwpTtK2nIhxE0q-IwgSpZBqCzw.ttf) format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gloriahallelujah/v17/LYjYdHv3kUk9BMV96EIswT9DIbW-MLSy.ttf) format('truetype');
}
body {
  --google-font-color-bungeespice: none;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
}
a {
  font-size: 1em;
}
.fontOne {
  font-family: 'Bungee Spice', cursive;
}
.fontTwo {
  font-family: 'Dancing Script', cursive;
}
.fontThree {
  font-family: 'Gloria Hallelujah', cursive;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 200px;
}
body {
  font-family: 'Gloria Hallelujah', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body header nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  justify-content: flex-start;
  box-shadow: 0 0.25em 0.75em rgba(0, 255, 255, 0.433);
  margin: 1em 0;
  width: 85%;
}
body header nav .site {
  padding: 0.3em 0;
  margin: 0 1em;
  font-size: 1.6em;
  text-decoration: none;
  color: black;
  font-family: 'Bungee Spice', cursive;
}
body header nav nav {
  padding: 0 0.75em;
  margin: 0 auto;
  box-shadow: none;
}
body header nav nav a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main h1 {
  font-family: 'Bungee Spice', cursive;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
}
body main .row .character,
body main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row .character img,
body main .row .column img {
  max-width: 300px;
}
body main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: 0 0.25em 0.75em #00ffff6e;
  min-width: 400px;
}
body main form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;
  justify-content: space-between;
  min-width: 350px;
}
body main form section label {
  padding: 1em;
}
body main form section input {
  padding: 1em;
}
body footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #00ffff6e;
  color: #6c757d;
}
body footer .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  justify-content: flex-start;
  box-shadow: 0 0.25em 0.75em #00ffff6e;
  margin: 1em 0;
  width: 85%;
}
