.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 250px;
}

