* {
    /* border: 1px dotted red; */
    margin: auto;
}
img {
    max-height: 200px;
}
button {
    background: #90e6d7;
    border: 2px solid #23a690;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
        border: 4px groove #23a690;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    background: #14a7a2;

}
header .row {
    width: 100%;
    justify-content: space-around;
    color: white;
}
header .row img {
    border-radius: 50%;
}
#cart {
    color: black;
    font-size: 1.2em;
}
nav {
        display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #2c322c;
    width: 100%;
    font-size: 1.2em;    
}
nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.squishyRow {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.miniSquish {
    border: 4px groove #9d159d;
}
main .row .column {
    padding: 1em;
}
main .row .column h3 {
    width: 100%;
    text-align: center;
    color: white;
    background: #2c322c;
}
main .row .column .row .column img {
    max-width: 100px;
    border-radius: 50%;
}
p {
    margin: .5em;
    font-size: 1.1em;
}
.price {
    color: #9d159d;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
footer .footerRow {
    width: 100%;
}
footer img {
    border-radius: 50%;
    max-width: 75px;
}
#sale {
    border: 4px groove #23a690;
    padding: 1em;
    margin: 1em;
}
#sale h3 {
    max-width: 40%;
}