<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>GithubOctoCats</title>
</head>
<body>
    <header>
        <h1>Meet the Octocats</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/strings">Strings</a>
            <a href="/octocats">Octocats</a>
        </nav>
    </header>
    <main>
        <img src="~/images/bee.png" alt="Bee">
        <div class="row">
            <a href="/octocats/1"><img src="~/images/bookWorkOctocat.png" alt="BookWorm"></a>
            <a href="/octocats/2"><img src="~/images/computerOctocat.png" alt="Computer"></a>
            <a href="/octocats/3"><img src="~/images/investigativeOctocat.png" alt="Investigative"></a>
            <a href="/octocats/4"><img src="~/images/madScientistOctocat.png" alt="Mad Scientist"></a>
            <a href="/octocats/5"><img src="~/images/powerOctocat.png" alt="Power"></a>
            <a href="/octocats/6"><img src="~/images/wizardOctocat.png" alt="Wizard"></a>
        </div>
    </main>
</body>
</html>