@{
    ViewData["Title"] = "Home Page";
}
@model List<Squishy>;

<div class="text-center">
    @{  
        foreach(Squishy item in Model){
            <h3>@item.Name is @item.Age years old.</h3>
        }
    }
</div>