/* COLORS */
/* main blue - #22659e */
/* light blue - #00b8d4 */
/* phone # - #00c0df */
/* dark orange - #f07300 */
/* light orange - #eaaf58 */
/*  */
/*  */
.blue {
  color: #22659e;
}

.title {
  color: #22659e;
}

.red {
  color: red;
}

.light-blue {
  color: #00b8d4;
}

.phone {
  color: #00c0df;
}