<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @{
        DateTime DateTime = DateTime.Now;

        string CurrentDate = DateTime.ToString("D");
        string CurrentTime = DateTime.ToString("t");
    }
    <h3>The current time and date:</h3>
    <div>
        <h2>@CurrentDate</h2>
        <h2>@CurrentTime</h2>
    </div>
    

</body>
</html>