/*CSS reset settings here*/
* {
  margin: 0px;
  padding: 0px;
}
#wrapper {
  display: inline-block;
  /* display: inline-block; */
  width: 950px;
  background-color: silver;
  margin: 0px auto;
}
#header {
  /* display: inline-block; */
  min-height: 150px;
  background-color: green;
}
#navigation {
  display: inline-block;
  min-height: 300px;
  width: 200px;
  background-color: blue;
}
#main_content {
  display: inline-block;
  min-height: 400px;
  width: 700px;
  background-color: red;
}
.subcontents {
  display: inline-block;
  min-height: 200px;
  width: 210px;
  background-color: yellow;
}
#advertisement {
  display: inline-block;
  min-height: 120px;
  width: 660px;
  background-color: purple;
}
