@{
    ViewData["Title"] = "Validation Form";
}

<div>
    @* Old way
    <form action="/user/create" method="post">
        <label for="Username">Username</label>
        <input type="text" name="Username">
        <label for="Email">Email</label>
        <input type="text" name="Email">
        <label for="Password">Password</label>
        <input type="password" name="Password">
        <input type="submit" value="Add User">
    </form> *@

    @* W/O validation 
    @model User
    <form action="/user/create" method="post">    
        <label asp-for="Username"></label>
        <input asp-for="Username">    
        <label asp-for="Email"></label>
        <input asp-for="Email"> 
        <label asp-for="FavFood"></label> 
        <input asp-for="FavFood">  
        <label asp-for="Password"></label>
        <input asp-for="Password">    
        <input type="submit" value="Add User">
    </form> *@

    @* W/ Validation errors - must be inside span *@
    @model User
    <form action="user/create" method="post">        
        <label asp-for="Username"></label>    
        <input asp-for="Username">
        @* Added line *@
        <span asp-validation-for="Username"></span>
        <label asp-for="Email"></label>    
        <input asp-for="Email"> 
        @* Added line *@
        <span asp-validation-for="Email"></span>
        <label asp-for="FavFood"></label> 
        <input asp-for="FavFood">  
        @* Added line *@
        <span asp-validation-for="FavFood"></span>
        <label asp-for="Password"></label>    
        <input asp-for="Password">
        @* Added line *@
        <span asp-validation-for="Password"></span>
        <input type="submit" value="Add User">
    </form>

</div>
